@font-face {
    font-family: 'outfit';
    src: url(./fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
   font-family: 'young-serif';
   src: url(./fonts/young-serif/YoungSerif-Regular.ttf);
}

html {
   font-size: 62.5%;
}

body {
    background-color: var(--Eggshell);
    height: 100vh;
    font-family: 'outfit', sans-serif;
    font-weight: 400;
    color: var(--Wenge-Brown);
    font-size: 1.6rem;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
 }

 article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  var(--White);
    border-radius: 25px;
    width: 74rem;
    padding: 4rem 4.2rem;
    margin: 10rem 2rem;
 }

 div{
   width: 100%;
   height: 100%;
 }


 li {
       padding-left: 1.7rem;
   }

 .recipe{
    display: flex;
    flex-direction: column;
    margin-bottom: 3.3rem;
 }

 img {
    width: 65.5rem;
    border-radius: 10px;
 }

 h1 {
    margin: 3.25rem 0px 1.7rem 0px;
    font-family: 'young-serif', sans-serif;
    font-weight: 400;
    font-size: 4rem;
 }

 h1, .recipe p, .preparation-time li{
   color: var(--Dark-Charcoal);
 }

 .recipe p {
   line-height: 2.3rem;
 }

.preparation-time {
   max-width: 100%;
   background-color: var(--Rose-White);
   max-width: 100%;
   padding: 2.5rem 2.8rem;
   border-radius: 20px;
}

.preparation-time h3 {
   font-weight: 600;
   font-size: 2rem;
   margin-bottom: 0.8rem;
   color: var(--Dark-Raspberry);
}

.preparation-time li::marker {
   color: var(--Dark-Raspberry);
   font-weight: 600;
 }

.preparation-time ul, .ingredients ul {
   list-style-type: disc;
   margin-left: 2.3rem;
   line-height: 3.2rem;
}

li::marker {
   color: var(--Nutmeg);
   font-weight: 600;
 }

li span {
   font-weight: 600;
}

.ingredients{
   margin-top: 2.5rem;
}

h2 {
   font-family: 'young-serif', sans-serif;
   font-size: 2.8rem;
   margin-bottom: 1.4rem;
   color: var(--Nutmeg);
}

hr {
   margin: 2.7rem 0px;
   width: 100%;
   border-bottom: 1px solid var(--Light-Grey);
}

.instructions ol {
   list-style: decimal;
   margin-top: 1.9rem;
   margin-left: 2.4rem;
   line-height: 2.3rem;
   list-style-type: decimal;
}

.instructions ol li {
   margin-bottom: 1rem;
}

.instructions ol li:last-child{
   margin-bottom: 0.2rem;
}

.nutrition p{
   margin-top: 2rem;
}

.nutrition table{
   width: 100%;
   margin-top: 1.3rem;
}

.nutrition table tr {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   border-bottom: 1px solid var(--Light-Grey);
   padding: 1.35rem 0px;
}

.nutrition table tr:last-child {
   border: none;
   padding-bottom: 0px;
}

.nutrition table tr th{
  text-align: left;
  padding-left: 3rem;
  width: 50%;
}

.nutrition table tr td{
   font-weight: 700;
   color: var(--Nutmeg);
   padding-left: 0.8rem;
}
